* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  color: blueviolet;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto auto auto);
}
.book {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 2rem;
  width: 50vw;
  background: red;
}
