* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  color: blueviolet;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.book {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 2rem;
  background: red;
  border-radius: 4rem;
}
.book img {
  height: 14rem;
  width: 14rem;
}
